<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_3DScannerPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_3DScannerPC.Properties.Settings>
            <setting name="PrintDebugLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T1preload" serializeAs="String">
                <value>41535</value>
            </setting>
            <setting name="SendDelayThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RequireAuthentication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScannerID" serializeAs="String">
                <value>97</value>
            </setting>
            <setting name="ServoHduty0Deg" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="ServoHduty180Deg" serializeAs="String">
                <value>2100</value>
            </setting>
            <setting name="ServoVduty0Deg" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="ServoVduty180Deg" serializeAs="String">
                <value>2100</value>
            </setting>
            <setting name="RawMsmExtension" serializeAs="String">
                <value>3draw</value>
            </setting>
            <setting name="RawMsmFileFilter" serializeAs="String">
                <value>3D Scanner Raw Measurement (*.3draw)|*.3draw</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenRawMsms" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\throw_error_test.3draw</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OpenScanModels" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\this scanned model doesnt exist.3dmodel</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ModelExtension" serializeAs="String">
                <value>3dmodel</value>
            </setting>
            <setting name="ModelFileFilter" serializeAs="String">
                <value>3D Scanned Model (*.3dmodel)|*.3dmodel</value>
            </setting>
            <setting name="OpenModels" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\throw_error_test.3draw</string>
                    </ArrayOfString>
                </value>
            </setting>
        </_3DScannerPC.Properties.Settings>
    </userSettings>
</configuration>