<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_3DScannerPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_3DScannerPC.Properties.Settings>
            <setting name="PrintDebugLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T1preload" serializeAs="String">
                <value>41535</value>
            </setting>
            <setting name="SendDelayThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RequireAuthentication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdcMax" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ScannerID" serializeAs="String">
                <value>97</value>
            </setting>
        </_3DScannerPC.Properties.Settings>
    </userSettings>
</configuration>